APScheduler==3.6.3
asgiref==3.2.7
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
hyperlink==19.0.0
idna==2.9
image==1.5.31
incremental==17.5.0
lxml==4.5.0
numpy==1.18.4
pandas==1.0.4
parsel==1.5.2
Pillow==7.1.2
pipupgrade==1.7.1
pkg-resources==0.0.0
Protego==0.1.16
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
PyDispatcher==2.0.5
pyfiglet==0.8.post1
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-http-client==3.2.7
pytz==2020.1
queuelib==1.5.0
requests==2.24.0
Scrapy==2.1.0
scrapy-djangoitem==1.1.1
sendgrid==6.4.1
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.1
starkbank-ecdsa==1.0.0
Twisted==22.4.0
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.9
uuid==1.30
w3lib==1.21.0
zope.interface==5.1.0
